
fichier_point/*

.idea/*

images/Julia/julia_0_-.75.ppm
images/Julia/julia_-0.00000000001_-1.ppm
images/Julia/julia_-0.75_0.145.ppm
images/Julia/julia_-1.5_0.ppm
images/Julia/julia_-1.598798789435464_0
images/Julia/julia_-1_0.ppm
images/Julia/julia_-2_0.ppm

images/Koch/long_100_X_100_Y_100_IT_2.ppm
images/Koch/long_200_X_100_Y_250_IT_3.ppm
images/Koch/long_400_X_100_Y_400_IT_4.ppm
images/Koch/long_500_X_100_Y_450_IT_6.ppm

images/Mandelbrot/mandel.ppm
images/Mandelbrot/mandel2.ppm
images/Mandelbrot/mandel3.ppm
images/Mandelbrot/mandel_final (3e copie).ppm
images/Mandelbrot/mandel_final (4e copie).ppm
images/Mandelbrot/mandel_final (5e copie).ppm
images/Mandelbrot/mandel_final (6e copie).ppm
images/Mandelbrot/mandel_final (7e copie).ppm
images/Mandelbrot/mandel_final (8e copie).ppm
images/Mandelbrot/mandel_final (9e copie).ppm
images/Mandelbrot/mandel_final (autre copie).ppm
images/Mandelbrot/mandel_final (copie).ppm
images/Mandelbrot/mandelbrot_zoom_x2.ppm
images/Mandelbrot/mandelbrot_zoom_x4.ppm
